<!DOCTYPE html>
<html>
    <main>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}anbj21{% endblock %}</title>
            <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
        </head>
        <header>
            <div class="header">
                <h1>Välkommen till mitt Ramverk!<h1>
            </div>

            <div id="navbar">
                {% block navbar %}
                    <ul class="nav">
                        <li class="navlist"><a href="{{ url("home") }}">Hem</a></li>
                        <li class="navlist"><a href="{{ path("card") }}">Card</a>
                        <li class="navlist"><a href="{{ path("start") }}">Kortspel 21</a>
                        <li class="navlist"><a href="{{ path("library") }}">Bibliotek</a>
                        <li class="navlist"><a href="{{ path("about") }}">Om</a></li>
                        <li class="navlist"><a href="{{ path("report") }}">Rapport</a></li>
                        <li class="navlist"><a href="{{ path("metrics") }}">Metrics</a></li>
                    </ul>
                {% endblock %}
            </div>
        </header>

