{% include 'main.html.twig' %}

<body>

    <div class="main" role="main">
        <h2>Rapport</h2>

        <h4>Kmom01</h4>
        <p> {{ kmom1 }} </p>

        <h4>Kmom02</h4>
        <p> {{ kmom2 }} </p>

        <h4>Kmom03</h4>
        <p> {{ kmom3 }} </p>

        <h4>Kmom04</h4>
        <p> {{ kmom4 }} </p>

        <h4>Kmom05</h4>
        <p> {{ kmom5 }} </p>

        <h4>Kmom06</h4>
        <p> {{ kmom6 }} </p>

        <h4>Kmom7-10</h4>
        <p> {{ kmom10 }} </p>

    </div>
    
</body>

{% include 'footer.html.twig' %}
