{% include 'main.html.twig' %}

<body>

    <div class="content">
        <h2>Rapport</h2>

        <h3>Kmom01</h3>
        <p> {{ kmom1 }} </p>

        <h3>Kmom02</h3>
        <p> {{ kmom2 }} </p>

        <h3>Kmom03</h3>
        <p> {{ kmom3 }} </p>

        <h3>Kmom04</h3>
        <p> {{ kmom4 }} </p>

        <h3>Kmom05</h3>
        <p> {{ kmom5 }} </p>

        <h3>Kmom06</h3>
        <p> {{ kmom6 }} </p>

        <h3>Kmom7-10</h3>
        <p> {{ kmom10 }} </p>

    </div>
    
</body>

{% include 'footer.html.twig' %}
