{% include 'main.html.twig' %}

<body>

    <div class="content">
        <h2>Rapport</h2>

        <h3>Kmom01</h3>
        <p> {{ kmom1 }} </p>

        <h3>Kmom02</h3>
        <p> {{ kmom2 }} </p>

        <h3>Kmom03</h3>
        <p> {{ kmom3 }} </p>

        <h3>Kmom04</h3>
        <p> {{ kmom4 }} </p>

        <h3>Kmom05</h3>
        <p> {{ kmom5 }} </p>

        <h3>Kmom06</h3>
        <p> Jag gillar phpmetrics. Det var det verktyget jag gillade mest i detta kursmoment. Det var ett lättarbetat verktyg och datan kunde hittas enkelt och tydligt. Det jag hade önskat fanns som det fanns på Scrutinizer var när man hovrade över förkortningarna till datan så kom en kort förklaring till var datan betydde, eller förkortningen betydde. Vilket underlättade förståelsen. Genom att cohesion, coverage  och coupling inte kunde ses i Scrutinizer för mig så kunde jag inte arbeta med just den datan i min analys. Jag fick till bagdet, vilket var ett smidigt komplement till github repot där verktyget överblick kunde visas. Min första känsla av Scrutinizer var förvirring. Jag tyckte att verktyget var lite svårnavigerat och krångligt att förstå hur och var man hittade datan. Jag letade länge efter både cohesion och coupling innan jag insåg att Mikael hade nämnt på föreläsningen att han inte heller kunde se det av någon underlig anledning i ett av hans repon. Min kodkvaliteten låg på 6.14 både innan och efter första bygget och förbättringen. Tyvärr kunde jag inte se kodtäckningen i varken phpmetrics eller Scrutinizer. 

Jag tycker att min kodkvalitet blev låg för game 21 uppgiften. Dock om tid fanns skulle jag nog göra om hela uppgiftens klasser och strukturera dem på ett annorlunda sätt för att minimera risken till en sådan stor och problematisk fil som Game klassen i controllern. Den blev alldeles för stor, och är fortfarande för stor samt för komplex. Men jag kan tänka mig att denna uppgift vill ge inblick i detta faktum, hur viktigt det är med strukturerad kod. Även fast filen fortfarande har punkter den skulle kunna förbättras inom så kan man ändå tydligt se en förbättring. Tråkigt att data i Scrutinizer saknas för att kunna göra en så pass komplett analys som möjligt. 

Mitt TIL för denna uppgift ät vikten av att reflektera över sin kod. </p>

        <h3>Kmom7-10</h3>
        <p> {{ kmom10 }} </p>

    </div>
    
</body>

{% include 'footer.html.twig' %}
